<?xml version="1.0" encoding="UTF-8"?>
<!-- 

Copyright (c) 2013-2015 Sierra Wireless and others.

All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
and Eclipse Distribution License v1.0 which accompany this distribution.

The Eclipse Public License is available at
   http://www.eclipse.org/legal/epl-v10.html
and the Eclipse Distribution License is available at
   http://www.eclipse.org/org/documents/edl-v10.html.

Contributors:
    Sierra Wireless - initial API and implementation

 -->
<Configuration status="warn" strict="true" name="leshan bootstrap server demo"
               packages="org.apache.logging.log4j.test">

  <Appenders>
    <Appender type="Console" name="STDOUT">
      <Layout type="PatternLayout" pattern="%d %p %C{0} - %m%n"/>
    </Appender>
  </Appenders>
 
  <Loggers>
    <Logger name="org.eclipse.leshan" level="info" additivity="false" >
      <AppenderRef ref="STDOUT"/>
    </Logger>
    <Root level="warn">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
 
</Configuration>