<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Copyright (c) 2013-2015 Sierra Wireless and others.

All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v2.0
and Eclipse Distribution License v1.0 which accompany this distribution.

The Eclipse Public License is available at
   http://www.eclipse.org/legal/epl-v20.html
and the Eclipse Distribution License is available at
   http://www.eclipse.org/org/documents/edl-v10.html.

Contributors:
    Sierra Wireless - initial API and implementation
 -->
<configuration>
	<appender name="TERMINAL" class="org.eclipse.leshan.core.demo.cli.interactive.TerminalAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="org.eclipse.leshan.core.demo.logback.ColorAwarePatternLayout">
				<pattern>%gray(%d) %gray(%-25logger{0}) [%highlight(%p)] %m %yellow(%X) %n</pattern>
			</layout>
		</encoder>
	</appender>

	<root level="WARN">
		<appender-ref ref="TERMINAL" />
	</root>

	<logger name="org.eclipse.leshan" level="INFO" />
	<logger name="org.eclipse.leshan.core.californium.LwM2mCoapResource" level="DEBUG"/>
	<logger name="org.eclipse.leshan.server.security.SecurityCheck" level="DEBUG" />
	<logger name="org.eclipse.leshan.server.bootstrap.DefaultBootstrapHandler" level="DEBUG" />
	<logger name="org.eclipse.leshan.core.model.LwM2mModelRepository" level="TRACE"/>
</configuration>