<div>
	<div ng-show="writable()" class="form-group">
		<label for="value" class="col-sm-4 control-label" ng-style="{'font-weight':resource.def.mandatory ? 'bold':'normal'}">{{resource.def.name}}{{resource.def.mandatory ? "*":""}}</label>
		<div class="col-sm-8">
			<input class="form-control" id="value" name="value" ng-model="resource.stringValue" ng-disabled="resource.fileValue" placeholder="{{resource.placeholder}}">
		</div>
		<div class="col-sm-4" ng-if="resource.def.type == 'opaque'"></div>
		<div class="col-sm-8" ng-if="resource.def.type == 'opaque'" ng-submit="submit()">
			<input id="writeInputFile" type="file" file-model="resource.fileValue" ng-disabled="resource.stringValue">
		</div>
	</div>
</div>